.App iframe{
    z-index: 0;
}

.App button{
    /* backdrop-filter: blur(10px);
    background-color: transparent;
    border-color: BLACK 10px;
    border-radius: 2vw; */

    background-color: rgba(42,148,210,255);
    border: 0;
    border-radius: 10px;
    box-shadow: 0 5px rgba(36,96,132,255);

    cursor: pointer;
    width : 16vw;
    height: 7vw;
    padding: 3px 4px;
    
    text-align: center;
    text-decoration: none;
    color: white;
    display: inline-block;
    font-family: Century Gothic, sans-serif;
    font-weight: bold;
    font-size: 1.75vw;
    z-index: 1;
}


.App button:active {
  background-color: rgba(42,148,210,255);
  box-shadow: 0 0px rgba(36,96,132,255);
  transform: translateY(-45%);
}

.videoPlayer{
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}


.button1{
    position: absolute;
    margin:auto;
    margin-left: 28vw;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.button2{
    position: absolute;
    margin:auto;
    margin-left: 52vw;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
